<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="swipeCss.css">
    <link rel="stylesheet" href="animation.css">
</head>
<body>
    <div class="container">
        <div class="frame" id="top"><div class="txt">TOP</div>
            <button id="top-left" class="btn" onclick="Anime('AnimeTop',Top,left,right,down,Top,'AnimeLeft')"></button>
            <button id="top-down" class="btn" onclick="Anime('AnimeTop',Top,down,right,Top,left,'AnimeDown')"></button>
            <button id="top-right" class="btn" onclick="Anime('AnimeTop',Top,right,Top,down,left,'AnimeRight')" ></button>
        </div>
        <div class="frame" id="down"><div class="txt">DOWN</div>
            <button id="down-right" class="btn" onclick="Anime('AnimeDown',down,right,left,down,Top,'AnimeRight')"></button>
            <button id="down-top" class="btn" onclick="Anime('AnimeDown',down,Top,right,down,left,'AnimeTop')"></button>
            <button id="down-left" class="btn" onclick="Anime('AnimeDown',down,left,right,down,Top,'AnimeLeft')"></button>
        </div>
        <div class="frame" id="left"><div class="txt">LEFT</div>
            <button id="left-down" class="btn" onclick="Anime('AnimeLeft',left,down,right,left,Top,'AnimeDown')"></button>
            <button id="left-top" class="btn" onclick="Anime('AnimeLeft',left,Top,right,down,left,'AnimeTop')"></button>
            <button id="left-right" class="btn" onclick="Anime('AnimeLeft',left,right,down,left,Top,'AnimeRight')"></button>
        </div>
        <div class="frame" id="right"><div class="txt">RIGHT</div>
            <button id="right-down" class="btn" onclick="Anime('AnimeRight',right,down,right,left,Top,'AnimeDown')"></button>
            <button id="right-top" class="btn" onclick="Anime('AnimeRight',right,Top,right,down,left,'AnimeTop')" ></button>
            <button id="right-left" class="btn" onclick="Anime('AnimeRight',right,left,right,down,Top,'AnimeLeft')"></button>
        </div>
    </div>
</body>
<script src="test.js"></script>
</html>
