*{
    margin: 0%;
    padding: 0;
}
.container{
    height: 100vh;
    overflow: hidden;
}
.frame{
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    display: flex;
    color: aliceblue;
}
.no-click{
    pointer-events: none;
}
#top{
    background-color: black;
    z-index: 1;
}
#down{
    background-color: blue;
    z-index: 2;
}
#left{
    background-color: blueviolet;
    z-index: 3;
}
#right{
    background-color: brown;
    z-index: 4;
}
.btn{
    /* margin-left: 50px; */
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: antiquewhite;
    background-color: rgb(240, 235, 235);
    border: 2px rgb(17, 17, 17) solid;
}
#top-left{
    position: relative;
    right: 100px;
    background-image: url("arrow_right.png");
}
#down-left{
    position: relative;
    right: 250px;
    background-image: url("arrow_right.png");
}
#right-left{
    position: relative;
    right: 250px;
    background-image: url("arrow_right.png");
}
#top-down{
    position: relative;
    top: 100px;
    right: 15px;
    background-image: url("arrow_up.png");
}
#left-down{
    position: relative;
    top: 100px;
    background-image: url("arrow_up.png");
}
#right-down{
    position: relative;
    top: 100px;
    background-image: url("arrow_up.png");
}
#top-right{
    position: relative;
    left: 50px;
    background-image: url("arrow_left.png");
}
#down-right{
    position: relative;
    left: 150px;
    background-image: url("arrow_left.png");
}
#left-right{
    position: relative;
    left: 50px;
    background-image: url("arrow_left.png");
}
#left-top{
    position: relative;
    bottom: 100px;
    right: 50px;
    background-image: url("arrow_down.png");
}
#right-top{
    position: relative;
    bottom: 100px;
    right: 50px;
    background-image: url("arrow_down.png");
}
#down-top{
    position: relative;
    bottom: 100px;
    right: 50px;
    background-image: url("arrow_down.png");
}
.txt{
    position: relative;
    left: 80px;
}

